/* General Styles */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

/* Navbar Styles */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Sidebar Styles */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Footer Styles */
footer {
  background-color: #e77817;
  color: white;
  padding: 15px;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {
    height: auto;
  }
}

/* Header Styles */
.header_blue {
  text-align: center; /* Centra el texto horizontalmente */
  color: #082251; /* Color azul */
  margin: 20px 0;
}

/* Subtitle Styles */
.blue-subtitle {
  color: #082251; /* Color azul */
  margin: 20px 0;
  text-align: center;
}

/* Image Styles */
.center-image {
  display: block; /* Para que el margen funcione correctamente */
  margin: auto; /* Centra horizontalmente */
  width: 50%; /* Ajusta el ancho de la imagen al 50% del ancho del contenedor */
  max-width: 800px; /* Establece un ancho máximo para la imagen */
}

/* Link Styles */
.social-links {
  text-align: right; /* Alinea el contenido a la derecha */
}
.social-links a {
  margin-left: 10px; /* Añade un espacio entre cada enlace */
}

/* Column Container Styles */
.two-column-container {
  display: flex;
}

.column {
  flex: 1; /* Distribuye el espacio entre las columnas */
  padding: 20px; /* Añade espacio alrededor del contenido */
}

.column:nth-child(odd) {
  background-color: #f2f2f2; /* Cambia el color de fondo de las columnas impares (opcional) */
}

/* List Styles */
.bullet-list {
  list-style-type: disc; /* Utiliza palomitas como marcadores */
  padding-left: 20px; /* Añade espacio a la izquierda para las palomitas */
}

.two-column-list {
  column-count: 2; /* Divide la lista en dos columnas */
  column-gap: 40px; /* Añade espacio entre las columnas */
  padding-left: 0; /* Elimina el espacio a la izquierda de la lista */
}

.two-column-list li {
  margin-bottom: 10px; /* Añade espacio entre los elementos de la lista */
}

/* Content Box Styles */
.container {
  display: flex;
  width: 100%;
  height: calc(100% - 60px); /* Ajustar altura para el título */
  align-items: center;
}

.image-box, .video, .image {
  flex: 1;
}

.image-box img, iframe, img {
  width: 100%;
  height: 100%;
  border: none;
}

.text-box {
  flex: 1;
  padding-left: 20px;
}

/* Button Styles */
.read-more-btn {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 4px;
}

/* Additional Classes */
.correo_ama {
  color: #e77817; /* Color para correo */
}
